# Downlod Dataset From Kaggle:https://www.kaggle.com/sameep98/housing-prices-in-mumbai

# Import Library

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import Data

In [4]:
dataset=pd.read_csv('C:/data analyst/project/Real estate/Mumbai.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6347 entries, 0 to 6346
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            6347 non-null   int64
 1   Price                 6347 non-null   int64
 2   Area                  6347 non-null   int64
 3   Location              6347 non-null   object
 4   No. of Bedrooms       6347 non-null   int64
 5   New/Resale            6347 non-null   int64
 6   Gymnasium             6347 non-null   int64
 7   Lift Available        6347 non-null   int64
 8   Car Parking           6347 non-null   int64
 9   Maintenance Staff     6347 non-null   int64
 10  24x7 Security         6347 non-null   int64
 11  Children's Play Area  6347 non-null   int64
 12  Clubhouse             6347 non-null   int64
 13  Intercom              6347 non-null   int64
 14  Landscaped Gardens    6347 non-null   int64
 15  Indoor Games          6347 non-null   int64
 16  Gas Connection        6347 non-null   int64
 17  Jogging Track         6347 non-null   int64
 18  Swimming Pool         6347 non-null   int64
dtypes: int64(18), object(1)
memory usage: 942.3+ KB

In [5]:
len(dataset['Location'].value_counts())
dataset.Location

0            Kharghar
1            Kharghar
2            Kharghar
3            Kharghar
4            Kharghar
            ...
6342         Shirgaon
6343       Thane West
6344       Thane West
6345           Boisar
6346    Badlapur East
Name: Location, Length: 6347, dtype: object

In [6]:
location_stats = dataset['Location'].value_counts(ascending=False)
location_stats

Kharghar              533
Thane West            418
Mira Road East        390
Ulwe                  319
Kalyan West           176
                     ...
Sector 7 Kharghar       1
Sector8 Sanpada         1
Devidas Cross Lane      1
Pali Hill               1
Sector-8 Sanpada        1
Name: Location, Length: 413, dtype: int64

In [7]:
location_stats.values.sum()

6347

In [8]:
len(location_stats[location_stats>10])

89

In [9]:
len(location_stats[location_stats<=10])

324

In [10]:
location_stats_less_than_10 = location_stats[location_stats<=10]
location_stats_less_than_10
len(location_stats_less_than_10)

324

In [11]:
dataset.Location = dataset.Location.apply(lambda x: 'other' if x in location_stats_less_than_10 else x)
len(dataset.Location.unique())

90

# Here Use Hot Encoding for Location feature

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [13]:
dfle =dataset
dfle.Location = le.fit_transform(dfle.Location)
dfle

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,43,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,43,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,43,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,43,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,43,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,6342,2485000,700,89,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,6343,14500000,900,73,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,6344,14500000,900,73,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,6345,4100000,1380,13,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,6346,2750000,700,6,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [14]:
#Drop unnecessary columns
dfle=dfle.drop(['Unnamed: 0'],axis=1)

In [15]:
dfle

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,4850000,720,43,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,4500000,600,43,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,6700000,650,43,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,4500000,650,43,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,5000000,665,43,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,2485000,700,89,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,14500000,900,73,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,14500000,900,73,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,4100000,1380,13,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,2750000,700,6,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [16]:
dfle=dfle.rename(columns={'No. of Bedrooms':'bhk'})

In [17]:
data=dfle.iloc[:,:4]

In [18]:
data.head(3)

     Price  Area  Location  bhk
0  4850000   720        43    1
1  4500000   600        43    1
2  6700000   650        43    1

In [19]:
#X is independent variable & y is target variable
X = data[['Location','Area','bhk']].values
y = data.Price.values

In [20]:
#apply onehot encodding
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('Location', OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(X)
X

<6347x92 sparse matrix of type '<class 'numpy.float64'>'
	with 19041 stored elements in Compressed Sparse Row format>

In [21]:
X = X[:,1:]
X

<6347x91 sparse matrix of type '<class 'numpy.float64'>'
	with 19013 stored elements in Compressed Sparse Row format>

In [22]:
# Train & Split the data

In [23]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.05,random_state=110)


from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.8401544631873271

In [24]:
#accuracy of model
y_pred=lr_clf.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)
#So, Accuracy of model is 84%

0.8401544631873271

# Use K Fold cross validation to measure accuracy of our LinearRegression model

In [25]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=3, test_size=0.20, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.635313  , 0.67635401, 0.6972991 ])

In [26]:
#We can see that in 3 iterations we get a score above 65% all the time.
# This is pretty good but we want to test few other algorithms for regression to see if we can get even better score.
# We will use GridSearchCV for this purpose

#

In [27]:
#Find best model using GridSearchCV
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

In [28]:
def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.20, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)
#Based on above results we can say that LinearRegression gives the best score.
# Hence we will use that.

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.565741984031513e+17, tolerance: 198913260101548.28
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.568895179566786e+17, tolerance: 214283023182087.2
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.627087952103975e+17, tolerance: 218126806917373.66
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.1353302395102534e+17, tolerance: 193954062353794.72
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.6548196163387805e+17, tolerance: 183359279392010.25
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1152367423705600.0, tolerance: 198913260101548.28
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 325377176288000.0, tolerance: 214283023182087.2
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7.407827100662758e+16, tolerance: 218126806917373.66
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.1460983033849728e+17, tolerance: 193954062353794.72
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7.901195901224998e+16, tolerance: 183359279392010.25
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.145429167621265e+17, tolerance: 198913260101548.28
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.483897084589545e+17, tolerance: 214283023182087.2
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.669787312739905e+17, tolerance: 218126806917373.66
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.162847833093028e+17, tolerance: 193954062353794.72
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.9977870732989766e+17, tolerance: 183359279392010.25
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 357273636677120.0, tolerance: 198913260101548.28
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.059711399852499e+16, tolerance: 218126806917373.66
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.543732601306949e+17, tolerance: 193954062353794.72
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.587257043122464e+16, tolerance: 183359279392010.25
  model = cd_fast.sparse_enet_coordinate_descent(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:513: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.26527724717059e+17, tolerance: 257903007689916.3
  model = cd_fast.sparse_enet_coordinate_descent(

               model  best_score                                 best_params
0  linear_regression    0.659472                         {'normalize': True}
1              lasso    0.659473         {'alpha': 2, 'selection': 'random'}
2      decision_tree    0.585334  {'criterion': 'mse', 'splitter': 'random'}

In [29]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

y_pred=lr_clf.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8401544631873271

# Accuracy of Model is 84% & Model Error is 16%